body {
    background-color: black;
    font-family: 'Inconsolata', monospace;
    color: green;
}

a {
    color: green;
    text-decoration: underline;
}

.skip {
    position: absolute;
    top: 10px;
    right: 10px;
 }
